<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ng_user.user %>
</p>

<p>
  <strong>Target user:</strong>
  <%= @ng_user.target_user %>
</p>

<%= link_to 'Edit', edit_ng_user_path(@ng_user) %> |
<%= link_to 'Back', ng_users_path %>
